@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Keyframes für animierten Strich */
@keyframes lineani-after {
  0% {
    transform: skew(-42deg, 0deg) translateY(1000%);
    opacity: 1;
  }
  80% {
    transform: skew(-42deg, 0deg) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: skew(-42deg, 0deg) translateY(0%);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #f7f7f7;
  --link-color: #309b47;
  --linkhover-color: #309b47;
  --primary-color: #0e4d81;
  --primary-light-color: #e6edf2;
  --secondary-color: #309b47;
  --grey-color: #cfdbe6;
  --white-color: #ffffff;
  --third-color: red;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.pca-header {
  display: block;
  padding: 2rem, 2rem, 2rem, 0;
  min-width: 100%;
}

.pca-header__title {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}
.pca-header__textwrapper {
  padding-left: 1rem;
}

.pca-header__text {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}

.pca-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
}

.pca-formular {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.05);
  gap: 2rem;
}

.pca-formular__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.pca-formular__upper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pca-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pca-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relativ;
}
.pca-dropdown__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  width: 18rem;
}

.pca-dropdown__chevron {
  height: 1rem;
  stroke-width: 2px;
}
.pca-dropdown__content {
  display: none;
  position: absolute;
  overflow: auto;
  list-style: none;
  font-size: 0.8rem;
  background-color: var(--white-color);
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  width: 18rem;
  border: 1px solid var(--primary-color);
  border-top: none;
  border-radius: 0 0 0.3rem 0.3rem;
  z-index: 10;
}

.pca-dropdown:hover .pca-dropdown__btn {
  border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.pca-dropdown:hover .pca-dropdown__content {
  display: block;
}

.pca-dropdown__content li {
  display: block;
  padding: 0.5rem;
}

.pca-dropdown__content li:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pca-delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 1.5em;
  transition: transform 0.2s ease;
}

.pca-delete:hover {
  transform: scale(1.1);
}

.pca-delete:active {
  transform: scale(0.95);
}

.pca-projectdays,
.pca-professional,
.pca-senior,
.pca-junior {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.pca-projectdays input,
.pca-professional input,
.pca-senior input,
.pca-junior input {
  width: 4rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pca-employees-wrapper {
  display: none; /*flex via js */
  flex-direction: column;
  gap: 1rem;
}

.pca-employees-wrapper--active {
  display: flex;
}

.pca-formular__lower {
  display: none; /* flex via js */
  flex-direction: column-reverse;
  gap: 1rem;
}

.pca-formular__lower--active {
  display: flex;
}

.pca-addnew {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.pca-addnew__symbol {
  width: 2rem;
  padding: 0.3rem;
  color: var(--white-color);
  stroke-width: 2px;
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.pca-addnew__symbol:hover {
  background-color: #267b38;
  border-color: #267b38;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pca-addnew__text {
  font-size: 0.8rem;
}

.pca-display {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.pca-display__calculation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.pca-display__card {
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-color);
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  height: 320px;
}

.pca-display__card--front,
.pca-display__card--back {
  display: flex;
  flex-direction: column;
  height: 100%;

  box-sizing: border-box;
}

.pca-display__card--back p {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
.pca-display__card--hidden {
  display: none;
}

.pca-display__title {
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.pca-display__content p {
  margin: 1rem 0;
  color: var(--primary-color);
  font-weight: 400;
}

.pca-display__content p strong {
  display: block;
  font-size: 1.1rem;
  margin: 0.3rem 0;
  color: var(--primary-color);
  font-weight: 600;
}

.pca-display__compare-name {
  display: block;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.pca-display__compare-value {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--third-color);
}

.pca-display__switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
}

.pca-display__switchSymbol {
  width: 1.5rem;
  cursor: pointer;
}

.pca-information {
  padding: 1rem;
  background-color: var(--primary-light-color);
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}
.pca-footer {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pca-disclaimer__text {
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.pca-cta__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pca-cta__sub {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.pca-cta__btn {
  background-color: var(--link-color);
  color: var(--white-color);
  width: fit-content;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.pca-cta__btn:hover {
  background-color: var(--primary-color);
}

@media screen and (min-width: 1000px) {
  .pca-app {
    padding: 30px;
    max-width: 1430px;
  }

  .pca-header {
    font-size: 2.5rem;
  }

  .pca-formular__wrapper {
    flex-direction: column;
  }

  .pca-formular__upper {
    flex-direction: row;
    justify-content: space-between;
  }

  .pca-dropdown-wrapper {
    flex-direction: row;
  }

  .pca-employees-wrapper {
    flex-direction: row;
  }

  .pca-formular__lower {
    flex-direction: row;
    justify-content: space-between;
  }

  .pca-display__calculation-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .pca-display__card {
    width: 30%;
  }
}
